[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/mustashe.vim"]
	path = .vim/bundle/mustashe.vim
	url = git://github.com/juvenn/mustache.vim.git
